*.iml
.gradle
local.properties
/.idea
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
gradle/wrapper/dists/
gradle/caches/
gradle/daemon/
gradle/android/
gradle/notifications/
gradle/workers/
app/google-services.json
